# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# VS Code
.vscode/

# Temporary files
*.log
*.tmp
# STM32CubeIDE build output
**/Debug/
**/Release/

# Build artifacts
*.elf
*.map
*.list
*.o
*.d
*.su
*.cyclo